#container {
    width: 80em;
    margin: 0 auto;
}

#svgcontainer {
    width: 100%;
}


#svgcontainer svg{
    width: 100%;
}

#field {
    position: relative;
}

#info {
    position: absolute;
    background-color: #c4e3f3;
    font-size: 16px;
    z-index: 9;
    margin: 20px;
    padding: 10px 20px;
    top: 0;
    left: 0;
}